{% extends "templates/base.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<div class="row">
    <div class="twelve columns" style="margin-top: 10%">
        <p><a class="button" href="{{ url|safe }}">{{ url_linktext}}</a></p>
    </div>
</div>
{% if user %}
<div class="row">
    <div class="six columns">
        <h4>Credentials</h4>
        <p>User ID: {{user.user_id()}}</p>
        <p>Domain: {{user.auth_domain()}}</p>
        <p>Email: {{user.email()}}</p>
        <p>Username: {{user.nickname()}}</p>

    </div>
    <div class="six columns">
        <h4>User products</h4>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.key.id()}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.cost }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}